---
import type {CollectionEntry} from "astro:content"
import createSlug from "../lib/createSlug"

type Props = {
    section: CollectionEntry<"sections">
}

const {section} = Astro.props
---

<li class="flex flex-col items-center justify-center">
    <a href={`/sections/${section.slug}`}>{section.data.section}</a>
    <ul>
        {section.data.headers.map(header => {
            const slugHeader = createSlug(header);
            return (
                <li id={`aside-${slugHeader}`}>
                    <a href={`/sections/${section.slug}/#${slugHeader}`}>
                        <span id={`aside-arrow-${slugHeader}`} class="arrow"></span>
                        <span class="header">{header}</span>
                    </a>
                </li>
            )
        })}
    </ul>
</li>