---
import type {CollectionEntry} from "astro:content"

type Props = {
    section: CollectionEntry<"sections">
}

const {section} = Astro.props
const {Content, headings} = await section.render()
---

<li class="flex flex-col items-center justify-center">
    <a href={`/sections/${section.slug}`}>{section.data.section}</a>
    <ul>
        {headings.map(header => {
            return (
                <li id={`aside-${header.slug}`}>
                    <a href={`/sections/${section.slug}/#${header.slug}`}>
                        <span id={`aside-arrow-${header.slug}`} class="arrow"></span>
                        <span class="header">{header.text}</span>
                    </a>
                </li>
            )
        })}
    </ul>
</li>