---
import type {CollectionEntry} from "astro:content"
import {Image} from "astro:assets"

type Props = {
    member: CollectionEntry<"member">
}

const {member} = Astro.props
---

<div class="flex flex-col items-center justify-center">
    <a href={`/member/${member.slug}`}>
        <Image
            src={member.data.image}
            alt={member.data.name}
            format="webp"
            class="h-80 rounded-full shadow-xl mb-6 object-cover"
        />
        <h3 class="text-3xl text-teal-800 font-semibold">{member.data.name}</h3>
    </a>
</div>