---
import type {CollectionEntry} from "astro:content"

type Props = {
    section: CollectionEntry<"sections">
}

const {section} = Astro.props
const {Content, headings} = await section.render()
---

<div class="flex flex-col border-b py-6 mx-10">
    <a href={`/sections/${section.slug}`}>
        <div class="flex">
            <div class="mr-4 w-20">{section.data.page}</div>
            <h3 class="text-3xl mr-4 flex-1">{section.data.section}</h3>
            <ul class="w-2/5">
                {headings.map(header => (
                    <li class="">{header.text}</li>
                ))}
            </ul>
        </div>
    </a>
</div>